body {
  font: 1em/1.2em Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #333; }

* {
  margin: 0px;
  padding: 0px; }

.spacer {
  clear: both;
  margin: 0;
  padding: 0;
  border: 0;
  height: 0;
  width: 0; }

a {
  color: #3366cc;
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #3366cc; }
  a img {
    border: 0px; }

#header {
  padding: 1em;
  background-color: #C0C0C0;
}

#header #header_label { float: left; }

#header #return_to_programs { font-size: 1.2em; float: left; display: none; padding: .5em; }

#programs { margin-top: 1em; }
#programs a { font-size: 1.4em; }
#programs .program { padding: 1em; border-bottom: 1px solid gray; }

#progress { margin: 8px 0px 0px 10px; background-color: #d8d8d8; float: left; width: 89%; height: 8px; }
#progress #bar { background-color: blue; width: 0%; height: 8px; }
#progress #bar.completed { background-color: #4cc554; }
#counter { float: left; padding: 0px 0px 10px 10px; width: 8%; }

table#set tr td label { padding: 5px 12px 5px 12px; background-color: #d8d8d8; border-radius: 5px; }
table#set tr th, table#set tr td { padding: 10px; }

h1 {
  font-size: 1.4em;
  line-height: 1.8em;
  font-weight: normal; }
